<script type="text/javascript">
    
    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    };
    $(function () {
        $('#cg-logon-changeSystem').combogrid({
            required: true,
            width: 180,
            panelWidth: 450,
            url: '/System/Details/?page=1&rows=1000',
            idField: 'SYSTEM_ID',
            textField: 'SYSTEM_NAME',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'SYSTEM_ID', title: '系统ID', hidden: true, width: 30 },
					{ field: 'SYSTEM_NAME', title: '系统名称', align: 'left', width: 40 },
					{ field: 'DESCRIPTION', title: '备注', align: 'left', width: 30 }
				]]
        });
        $('#cg-logon-changeUser').combogrid({
            required: true,
            width: 180,
            panelWidth: 450,
            url: '/User/Details/?page=1&rows=100',
            idField: 'USER_ID',
            textField: 'USER_NAME',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'USER_ID', title: '用户ID', hidden: true, width: 30 },
					{ field: 'USER_NAME', title: '用户名称', align: 'left', width: 40 },
					{ field: 'CHINESE_NAME', title: '中文名称', align: 'left', width: 30 },
                    { field: 'MEMO', title: '备注', align: 'left', width: 30 }
				]]
        });
    });
    function Sselect() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.SystemID = $('#cg-logon-changeSystem').combogrid('getValue');
        queryParams.UserID = $('#cg-logon-changeUser').combogrid('getValue');
        queryParams.LoginPC = $('#LoginPC').val();
        queryParams.LoginTime = $('#LoginTime').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close'); 
    }

</script>

<div id="dlg-search" class="easyui-dialog" modal="true" style="width:300px;height:210px;padding:2px 2px"
		closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
		<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
            <table width="250">
              <tr>
                <td width="60">系统信息</td>
                <td width="168" align="left"><input id="cg-logon-changeSystem"></td>
              </tr>
              <tr>
                <td>用户信息</td>
                <td align="left" width="168"><input id="cg-logon-changeUser" ></td>
              </tr>
              <tr>
                <td>登陆IP</td>
                <td align="left" width="168"><input id="LoginPC" style=" width:98%"></td>
              </tr>
                <tr>
                <td>登陆时间</td>
                <td align="left" width="168"><input id="LoginTime" style=" width:98%" ></td>
              </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
@*	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">查询</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>*@
      <input type="button"  onclick="Sselect()"  onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btok" value="查询"/>
       <input type="button"  onclick="javascript:$('#fm-logon').form('clear')" onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btcance" value="取消"/>
</div>
