<script type="text/javascript">

</script>
<div region="center" split="true" border="false" >   
  <div style=" ">
     <iframe  style=" width:100%; height:500px;padding:0px;"  frameborder="0"  src="../../cellbord.cshtml">
    
    </iframe>
</div>
</div>


