<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/Unit/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true" striped="true">
        <thead>
            <tr>
                <th field="UNIT_CODE" width="60" >单位编码</th>
                <th field="UNIT_NAME" width="80">单位名称</th>
                <th field="CATEGORY_CODE"  hidden="true" width="80">单位名称</th>
                <th field="CATEGORY_NAME" width="80">类别名称</th>
                <th field="MEMO" width="120">备注</th>
            </tr>
        </thead>
    </table>
</div>

 


