<script type="text/javascript">
    $(function () {
        
    });
</script>
 
<div region="center" split="true" border="false">    
    <table class="easyui-datagrid" id="details"
        url="/Role/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true" striped="true">
        <thead>
            <tr>
                <th field="ROLE_ID" hidden="true" width="80">角色编码</th>
                <th field="ROLE_NAME" width="100">角色名称</th>
                <th field="MEMO" width="80" align="left">备注</th>
                <th field="IS_LOCK" width="80" align="left">状态</th>
            </tr>
        </thead>
    </table>
</div>

 


