<script type="text/javascript">
    var USER_ID;
    var USER_NAME;
    $(function () {
        $('#UserAdminAdd').window({
            width: 500,
            modal: true,
            shadow: false,
            closed: true,
            height: 350,
            resizable: false,
            minimizable: false,
            maximizable: false,
            collapsible: false
        });
    });

    //加载
    function roleadminClick() {       
        var row = $('#details').datagrid('getSelected');
        if (row) {
            $('#UserAdminAdd').window('open');  
            $('#UserRoleDataGrid').datagrid('clearSelections'); //清空所有选择项
            $('#UserAdminAdd').dialog('open').dialog('setTitle', "用户编辑角色：" + row.USER_NAME);
            USER_ID = row.USER_ID;
            USER_NAME = row.USER_NAME;
            $('#UserRoleDataGrid').datagrid({
                url: '/User/GetUserRole/?USERID=' + USER_ID
            });
        } else {
            $('#UserAdminAdd').window('close');
            $.messager.show({ title: '系统提示', msg: '请选择用户！' });
        }
    }

    //添加角色
    function UserRoleAddClick() {
        $('#UserAddRole').dialog('open').dialog('setTitle', "用户添加角色：" + USER_NAME);
        $('#UserAddRoleDatagrid').datagrid({
            url: '/User/GetRoleInfo/?USER_ID=' + USER_ID
        });
        $('#UserAddRoleDatagrid').datagrid('clearSelections'); //清空所有选择项
    }

    //删除角色
    function UserRoleDeleteClick() {
        var row = $('#UserRoleDataGrid').datagrid('getSelections');
        if (row.length > 0) {
            var userRoleString = "";
            for (var i = 0; i < row.length; i++) {
                userRoleString += row[i].USER_ROLE_ID + ",";
            }
            $.post("/User/DeleteUserRole/", { userRoleIdStr: userRoleString }, function (json) {
            
                if (json) {
                    $.messager.show({ title: '系统提示', msg: '删除成功！' });
                    $('#UserRoleDataGrid').datagrid('options').url = '/User/GetUserRole/?USERID=' + USER_ID;
                    $('#UserRoleDataGrid').datagrid('reload');
                    $('#UserRoleDataGrid').datagrid('clearSelections'); //清空所有选择项
                } else {
                    $.messager.show({ title: '系统提示', msg: '删除失败!请检查原因！' });
                }
            });
        } else {
            $.messager.show({ title: '系统提示', msg: '请选择要删除的数据！' });
        }
    }
</script>
<div id="UserAdminAdd" split="true">
    <table id="UserRoleDataGrid" class="easyui-datagrid" border="0px" fit="true" idfield="UserRoleID" toolbar="#tb" rownumbers="true" fitColumns="true">
        <thead>
            <tr>
                <th field="ck" checkbox="true"></th>
                <th field="USER_ROLE_ID" width="80" hidden="true">用户角色编码</th>
                <th field="ROLE_ID" width="120" hidden="true">角色编码</th>
                <th field="USER_ID" width="80" hidden="true">用户编码</th>
                <th field="USER_NAME" width="150" hidden="true">用户名称</th>
                <th field="ROLE_NAME" width="480">角色名称</th>
            </tr>
        </thead>
    </table>
    <div id="tb">
        <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="UserRoleAddClick()" id="UserRoleAddButton">添加</a> 
        <a href="#" class="easyui-linkbutton" iconcls="icon-cut" plain="true" onclick="UserRoleDeleteClick()" id="UserRoleDeleteButton">删除</a>
    </div>
</div>
@Html.Partial("_UserRolePartial")
