<script type="text/javascript">
    function addClick() {
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#fm').form('clear');
        $('#fm .easyui-validatebox').validatebox({
            required: true
        });
        setcategorycomb();
        $('#STYLE_NO').combogrid({
            required: true,
            width: 126,
            panelWidth: 300,
            url: '/Product/Getstylelist/?page=1&rows=1000',
            idField: 'STYLE_NO',
            textField: 'STYLE_NAME',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'STYLE_NO', title: '形态编号', hidden: true, width: 30 },
					{ field: 'STYLE_NAME', title: '形态名称', align: 'left', width: 40 }

				]]
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        url = '/Product/Create/';
    };
    //获取类别名称
    function setcategorycomb() {
        $('#CC').combogrid({
            required: true,
            width: 126,
            panelWidth: 300,
            url: '/ProductCategory/Details/?page=1&rows=1000',
            idField: 'CATEGORY_CODE',
            textField: 'CATEGORY_NAME',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'CATEGORY_CODE', title: '类别编码', hidden: true, width: 30 },
					{ field: 'CATEGORY_NAME', title: '类别名称', align: 'left', width: 40 },
					{ field: 'MEMO', title: '备注', align: 'left', width: 30 }

				]]
        });
    }
    function save() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.show({
                        title: '成功',
                        msg: result.msg
                    });
                    $('#dlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.show({
                        title: '错误',
                        msg: result.msg
                    });
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>

<div id="dlg" class="easyui-dialog" modal="true" style="width:430px;height:260px;padding:2px 2px" closed="true" buttons="#dlg-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
	            <form id="fm" method="post" novalidate>
                     <table width="400px">
                      <tr>
                        <td style="width:50px" align="right">产品名称</td>
                        <td style="width:138px"><input name="PRODUCT_NAME" class="easyui-validatebox" required="true" style="width:125px"  /></td>
                        <td style="width:50px" align="right">类别名称</td>
                        <td style="width:138px"><input name="CATEGORY_CODE" id="CC" ></td>
                      </tr>
                       <tr>
                        <td style="width:50px" align="right">原产地</td>
                        <td style="width:138px"><input name="ORIGINAL" style="width:125px" ></td>
						<td style="width:50px" align="right">年份</td>
                        <td style="width:138px"><input name="YEARS" style="width:125px"></td>
                      </tr>
                       <tr>
                        <td style="width:50px" align="right">等级</td>
                        <td style="width:138px" ><input name="GRADE" style="width:125px" ></td>
                        <td style="width:50px" align="right">形态</td>
                        <td style="width:138px"><input name="STYLE_NO"  id="STYLE_NO" style="width:125px" ></td>
                      </tr>
                       <tr>
                        <td style="width:50px" align="right">重量</td>
                        <td style="width:138px"><input name="WEIGHT" class="easyui-numberbox" style="width:125px" ></td>
						 <td style="width:50px"></td>
                        <td style="width:138px"></td>
                      </tr>
                      <tr>
                        <td style="width:50px" align="right">备注</td>
                        <td colspan="3"><textarea name="MEMO" style="width: 320px; height: 50px"></textarea></td>
                      </tr>
                    </table>
	            </form>
            </div>
        </div>
</div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
