<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/Product/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true" striped="true">
        <thead>
            <tr>
                <th field="PRODUCT_CODE" width="80">产品编码</th>
                <th field="PRODUCT_NAME" width="80">产品名称</th>
                <th field="ORIGINAL" width="80">原产地</th>
                <th field="ORIGINAL_CODE" width="80" hidden="true">原产地代码</th>
                <th field="YEARS" width="80">年份</th>
                <th field="GRADE" width="80">等级</th>
                <th field="GRADE_CODE" width="80" hidden="true">等级代码</th>
                <th field="STYLE_NO" width="80" hidden="true">形态代码</th>
                <th field="STYLE_NAME" width="80">形态</th>
                <th field="WEIGHT" width="80">重量</th>
                <th field="CATEGORY_CODE" hidden="true" width="60" >类别编码</th>
                <th field="CATEGORYNAME" width="80">类别名称</th>
                <th field="MEMO" width="120">备注</th>
            </tr>
        </thead>
    </table>
</div>

 


