<script type="text/javascript">
  
</script>

<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/ProductGrade/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true" striped="true">
        <thead>
            <tr>
                <th field="GRADE_CODE" width="60" >等级代码</th>
                <th field="ENGLISH_CODE" width="80">英文代号</th>
                <th field="USER_CODE" width="80">自定代号</th>
                <th field="GRADE_NAME" width="80">等级名称</th>
                <th field="MEMO" width="120">备注</th>
            </tr>
        </thead>
    </table>
</div>

