<script type="text/javascript">
    var  clickbt;//点击的按钮
    var serial=0;
    var editsubdetail;//获取明细修改中的所要修改的行
    var url;
    var index;
    function addClick() { 
        clickbt="add";
        serial=0;
         $('#dlg').dialog('open').dialog('setTitle', '新增');
        $('#fm').form('clear');
        $('#fm-inBillDetail .easyui-validatebox').validatebox({
            required: true
        });
        $('#inBillDetail').datagrid('loadData', { total: 0, rows: [] });
        $('#SCHEDULE_DATE').datebox({
              width:135,
              hasDownArrow: true,
              required: true
          });
          $('#OPERATE_DATE').datebox({
              width: 135,
              hasDownArrow: true,
              required: true
          });
        $('#STATUS').combobox('setValue','0');
        $('#STATE').combobox('setValue','1');
        $('#OPERATE_DATE').datebox('setValue', getDate());
        $('#SCHEDULE_DATE').datebox('setValue', getDate());
        GetScheduleno(getDate());//计划单号
        $('#STATUS').attr('readonly', 'true');
        setbtdisable();
      }

      //牌号
      function GetCigarette() {
          $('#CIGARETTE_CODE').combogrid({
              required: true,
              disabled: false,
              width: 135,
              panelWidth: 340,
              url: '/Cigarette/Details/?page=1&rows=1000',
              idField: 'CIGARETTE_CODE',
              textField: 'CIGARETTE_NAME',
              mode: 'local',
              editable: false,
              fitColumns: true,
              columns: [[
                    { field: 'CIGARETTE_CODE', title: '牌号编码', align: 'left', width: 40 },
                    { field: 'CIGARETTE_NAME', title: '牌号名称', align: 'left', width: 30 },
                    { field: 'CIGARETTE_MEMO', title: '备注', align: 'left', width: 30 }
                ]],
              onSelect: function (index, data) {
                  GetFormula(data.CIGARETTE_CODE);
              }
          });
      }

      //配方
      function GetFormula(CIGARETTE_CODE) {
          $('#FORMULA_CODE').combogrid({
              required: true,
              disabled: false,
              width: 135,
              panelWidth: 340,
              url: '/Formula/Getuserfull/?page=1&rows=1000&cigarettecode=' + CIGARETTE_CODE,
              idField: 'FORMULA_CODE',
              textField: 'FORMULA_CODE',
              mode: 'local',
              editable: false,
              fitColumns: true,
              columns: [[
                    { field: 'FORMULA_CODE', title: '配方代码', align: 'left', width: 40 },
                    { field: 'FORMULA_NAME', title: '配方名称', align: 'left', width: 30 },
                    { field: 'BATCH_WEIGHT', title: '批次重量', align: 'left', width: 30 },
                    { field: 'USE_COUNT', title: '次数', align: 'left', width: 30 }
                ]],
              onLoadSuccess: function () {
                  if (editsubdetail != null) {
                      var row = $('#inBillDetail').datagrid('getSelected');
                      resetformulavalue(row.FORMULA_CODE);
                  }
              },
              onSelect: function (index, data) {
                  $('#QUANTITY').numberbox('setValue', data.BATCH_WEIGHT);
              }
          });
          if(editsubdetail==null)
             $('#FORMULA_CODE').combogrid('clear');
      }
      //制丝线
      function GetLINE_NO() {
          $('#LINE_NO').combogrid({
              required: true,
              disabled: false,
              width: 135,
              panelWidth: 340,
              url: '/Schedule2/GetLine/?page=1&rows=1000',
              idField: 'LINE_NO',
              textField: 'LINE_NAME',
              mode: 'local',
              editable: false,
              fitColumns: true,
              columns: [[
                    { field: 'LINE_NO', title: '制丝线编号', align: 'left', width: 40 },
                    { field: 'LINE_NAME', title: '制丝线名称', align: 'left', width: 30 },
                    { field: 'MEMO', title: '备注', align: 'left', width: 30 }
                ]]
          });
      }
      //点击修改明细中  给配方代号重新赋值
      function resetformulavalue(value) {
          $('#FORMULA_CODE').combogrid('setValue', value);
      }
    //获取时间字符串
    function getDate() {
        var dt = new Date();
        var year = dt.getFullYear();
        var month = dt.getMonth() + 1;
        var day = dt.getDate();
        var dtstr = year + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day);
        return dtstr;
    }

    //获取计划单号
    function GetScheduleno(date) {
        $.getJSON("/Schedule2/GetScheduleNO/?dtime=" + date, function (json) {
            if (json) {
                $('#SCHEDULE_NO').val(json.ScheduleNo);
                $('#OPERATER').val(json.userName);
            }
        });
    }

      //生成明细表中的序号
      function  GetSerial(){
            if(clickbt=="add")
                serial+=1;
            else if (clickbt == "edit") {
                $.getJSON("/Schedule2/GetSerial/?SCHEDULENO=" + $('#SCHEDULE_NO').val(), function (json) {
                    if (json) {
                        $('#ITEM_NO').val(json.Itemno + serial);
                        serial += 1;
                    }
                });
            }
            else{
               
            }
            $('#ITEM_NO').val(serial);
      }
      //添加明细
      function addBillDetailClick(){
         editsubdetail=null;
         $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '添加明细');
         $('#fm-inBillDetail').form('clear');
         GetCigarette(); //获取牌号
         GetLINE_NO(); //制丝线
         GetSerial(); //获取序号
         $('#QUANTITY').numberbox({
             required: true
         });  
      }
      //删除明细
     function deleteBillDetailClick(){
        var detailRow = $('#inBillDetail').datagrid('getSelected');
        if (detailRow) {
            $('#inBillDetail').datagrid('deleteRow', $('#inBillDetail').datagrid('getRowIndex', detailRow));
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
     }
     //修改明细
     function editBillDetailClick(){
        var detailRow = $('#inBillDetail').datagrid('getSelected');
        if (detailRow) {
            editsubdetail = detailRow;
            $('#dlg-AddBillDetail').dialog('open').dialog('setTitle', '修改明细表信息');
            $('#fm-inBillDetail .easyui-validatebox').validatebox({
                required: false
            });
            $('#fm-inBillDetail').form('clear');
            GetCigarette(); //获取牌号
            GetLINE_NO(); //制丝线
            $('#fm-inBillDetail').form('load', detailRow);
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
     }
     //添加明细中的确定按钮
     function  DetailSave(){
     if($('#fm-inBillDetail').form('validate')){
          if(editsubdetail==null){
              $('#inBillDetail').datagrid('appendRow', {
                  SCHEDULE_NO: $('#SCHEDULE_NO').val(),
                    ITEM_NO:$('#ITEM_NO').val(),
                    CIGARETTE_CODE:$('#CIGARETTE_CODE').combogrid('getValue'),
                    FORMULA_CODE:$('#FORMULA_CODE').combogrid('getValue'),
                    QUANTITY:$('#QUANTITY').val(),
                    LINE_NAME:$('#LINE_NO').combogrid('getText'),
                    LINE_NO: $('#LINE_NO').combogrid('getValue')

                });
          }
            else {
          $('#inBillDetail').datagrid('beginEdit', $('#inBillDetail').datagrid('getRowIndex', editsubdetail)); 
            $('#inBillDetail').datagrid('updateRow', {
                index: $('#inBillDetail').datagrid('getRowIndex', editsubdetail),
                row: {
                   SCHEDULE_NO: $('#SCHEDULE_NO').val(),
                    ITEM_NO:$('#ITEM_NO').val(),
                    CIGARETTE_CODE:$('#CIGARETTE_CODE').combogrid('getValue'),
                    FORMULA_CODE:$('#FORMULA_CODE').combogrid('getValue'),
                    QUANTITY:$('#QUANTITY').val(),
                    LINE_NAME: $('#LINE_NO').combogrid('getText'),
                    LINE_NO: $('#LINE_NO').combogrid('getValue')
                }
            });

            $('#inBillDetail').datagrid('endEdit', $('#inBillDetail').datagrid('getRowIndex', editsubdetail));
            $('#inBillDetail').datagrid('refreshRow', $('#inBillDetail').datagrid('getRowIndex', editsubdetail)); 
          }
        $('#dlg-AddBillDetail').dialog('close');
        $('#LINE_NO').combogrid('clear');
        }
     }
     //设置按钮的可用属性
     function setbtdisable() {
         if (clickbt == "delete") {
             //禁用明细按钮
             $('#btnAddBillDetail').linkbutton('disable');
             $('#btnDeleteBillDetail').linkbutton('disable');
             $('#btnEditBillDetail').linkbutton('disable');
         } else {
             //启用明细按钮
             $('#btnAddBillDetail').linkbutton('enable');
             $('#btnDeleteBillDetail').linkbutton('enable');
             $('#btnEditBillDetail').linkbutton('enable');
         }

     }


     function  save(){
       var changesRows = {
            inserted: []
        };
        var blnDistinct = true;
        var Rows = $('#inBillDetail').datagrid('getData');
        if (Rows.total == 0 && clickbt != "delete") { alert("明细不能为空"); return; }
        for (var i = 0; i < Rows.total; i++) {
            changesRows.inserted.push(Rows.rows[i])
        }
       if(clickbt=="add"){
           url='/Schedule2/Add/?detail=' + JSON.stringify(changesRows.inserted);
       }
       if (clickbt == "edit") {
           url = '/Schedule2/Edit/?detail=' + JSON.stringify(changesRows.inserted);
       }
       if (clickbt == "delete") {
           url = '/Schedule2/Delete/?scheduleno=' + $('#SCHEDULE_NO').val();
       }
       $('#fm').form('submit', {
           url: url,
           onSubmit: function () {
               return $(this).form('validate');
           },
           success: function (result) {
               var result = eval('(' + result + ')');
               if (result.success) {
                   $.messager.show({
                       title: '成功',
                       msg: result.msg
                   });
                   $('#dlg').dialog('close');
                   $('#details').datagrid('reload');
                   $('#SubDetails').datagrid('reload');
               } else {
                   $.messager.show({
                       title: '错误',
                       msg: result.msg
                   });
                   $('#details').datagrid('reload');
               }
           }
       });
     }
</script>

<div id="dlg" class="easyui-dialog" modal="true"
        style="width:700px;height:450px;padding:0px 0px"
        closed="true" buttons="#dlg-buttons">
	<div class="easyui-layout" fit="true">
        <div region="center" border="false">
            <table class="easyui-datagrid" border="false" toolbar="#dlg-detailButtons" width="700" id="inBillDetail"
                fit="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="false" url="" striped="true">
                <thead>
                    <tr>
                      <th field="SCHEDULE_NO" width="80" hidden="true">计划单号</th>
                        <th field="ITEM_NO" width="100">序号</th>
                        <th field="CIGARETTE_CODE" width="100">牌号</th>
                        <th field="FORMULA_CODE" width="120" >配方代号</th>
                        <th field="BILL_NO" width="80" >出库单号</th>
                        <th field="QUANTITY" width="80" >重量</th>
                        <th field="LINE_NAME" width="80">制丝线</th>
                        <th field="LINE_NO" width="60" hidden="true">制丝线代码</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="dlg-detailButtons" style="width: auto; height: auto; background-color: #FFFFFF;">
	<div border="false" style="padding:4px 4px;" >     
	    <form id="fm" method="post" novalidate>
            <table height="80px">
                <tr>
                <td width="60">计划单号</td>
                <td width="133"><input name="SCHEDULE_NO" id="SCHEDULE_NO" readonly="true"></td>
                <td width="60">计划日期</td>
                <td width="168"><input name="SCHEDULE_DATE" id="SCHEDULE_DATE"  ></td>
                <td width="60">单据来源</td>
                <td width="168">
                       <select name="STATUS" id="STATUS"   class="easyui-combobox"  disabled="disabled"  editable="false">
                                <option value="0">手工输入</option>
		                        <option value="1">系统产生</option>
                         </select></td>
                </tr>
                <tr>
                <td width="60">单据状态</td>
                <td width="133" >
                   <select  name="STATE" id="STATE"  class="easyui-combobox"  disabled="disabled"  editable="false">
                                <option value="1">保存</option>
		                        <option value="2">审核</option>
                   </select>
                 </td>
                <td width="60">操作人员</td>
                <td width="168"><input  name="OPERATER" id="OPERATER"  readonly="true"/></td>
                <td width="60">操作日期</td>
                <td width="168"><input id="OPERATE_DATE" name="OPERATE_DATE"  readonly="true"></td>
                </tr>
            </table>
	    </form>
    </div>
    <div border="false" class="formula_editbg" > 
	    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addBillDetailClick()" id="btnAddBillDetail">添加明细</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteBillDetailClick()" id="btnDeleteBillDetail">删除明细</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editBillDetailClick()" id="btnEditBillDetail">修改明细</a>
    </div>
</div>

<div id="dlg-buttons">
@*	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>*@
      <input type="button"  onclick="save()"  onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btok" value="确定"/>
       <input type="button"  onclick="javascript:$('#dlg').dialog('close')" onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btcance" value="取消"/>
</div>

<div  id="dlg-AddBillDetail" class="easyui-dialog" modal="true"
        style="width:270px;height:240px;padding:0px 0px"
        closed="true" buttons="#dlg-AddBillDetailbuttons">
     <form id="fm-inBillDetail" novalidate>
<table style="padding:10px 10px 0px 5px">
  <tr>
    <td style=" text-align:right">序号</td>
    <td align="left"><input type="text" name="ITEM_NO" id="ITEM_NO" class="easyui-validatebox"  readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">牌号</td>
    <td align="left"><input type="text" name="CIGARETTE_CODE" id="CIGARETTE_CODE"  readonly="true"/></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">配方代号</td>
    <td align="left"><input type="text" name="FORMULA_CODE"    id="FORMULA_CODE" /></td>
    <td></td>
  </tr>
  <tr>
    <td style=" text-align:right">重量</td>
    <td align="left"><input type="text" name="QUANTITY" id="QUANTITY" readonly="true"   class="easyui-numberbox" /></td>
    <td></td>
  </tr>
    <tr>
    <td style=" text-align:right">制丝线</td>
    <td align="left"><input type="text" name="LINE_NO" id="LINE_NO"    /></td>
    <td></td>
  </tr>
</table>
 </form>
</div>

<div id="dlg-AddBillDetailbuttons">
@*	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="DetailSave()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-AddBillDetail').dialog('close')">取消</a>*@
      <input type="button"  onclick="DetailSave()"  onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btok" value="确定"/>
       <input type="button"  onclick="javascript:$('#dlg-AddBillDetail').dialog('close')" onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btcance" value="取消"/>
</div>