<script type="text/javascript">
    $(function () {
        $('#details').datagrid('options').onClickRow = function () {
            $('#SubDetails').datagrid('loadData', { total: 0, rows: [] });
            var row = $('#details').datagrid('getSelected');
            if (row) {
                $('#SubDetails').datagrid('loadData', { total: 0, rows: [] });
                $('#SubDetails').datagrid({ url: '/FillBill/GetSubdetail/?billno=' + row.BILL_NO });
                //                $('#SubDetails').datagrid('reload');
            }
            else {
                $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
            }
        }
    });
</script>
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/MoveStock/Details/?flag=1" border="false" singleSelect="true"
        fit="true" fitColumns="false" toolbar="#tool"  pagination="true" rownumbers="true"  striped="true">
        <thead>
            <tr>
                  <th field="BILL_NO" width="100">单据编号</th>
                <th field="BILL_DATE" width="80">单据日期</th>
                <th field="BTYPE_NAME" width="80">单据类型</th>
              @*  <th field="SCHEDULE_NO" width="80">计划单号</th>*@
                <th field="WAREHOUSE_CODE" width="80">仓库编号</th>
                <th field="WAREHOUSE_NAME" width="80">仓库名称</th>
                <th field="TARGET_CODE" width="80" hidden="true">目标位置</th>
                <th field="TARGET_NAME" width="80">目标位置名称</th>
                <th field="STATUS" width="80" hidden="true">单据来源</th>
                <th field="STATUSNAME" width="80">单据来源</th>
                <th field="STATE" width="60" hidden="true">单据状态</th>
                <th field="STATENAME" width="60">单据状态</th>
                <th field="SOURCE_BILLNO" width="80">入库批次</th>
        @*        <th field="LINE_NO" width="90" hidden="true">制丝线编号</th>
                <th field="LINE_NAME" width="90">制丝线名称</th>
                <th field="CIGARETTE_CODE" width="90" hidden="true">牌号代码</th>
                <th field="CIGARETTE_NAME" width="90" >牌号</th>
                <th field="FORMULA_CODE" width="90"  hidden="true">配方代号</th>
                <th field="FORMULA_NAME" width="90"  >配方名称</th>
                <th field="BATCH_WEIGHT" width="90">批次重量</th>*@
                <th field="OPERATER" width="90">操作人</th>
                <th field="OPERATE_DATE" width="90">操作日期</th>
                <th field="CHECKER" width="60">审核人员</th>
                <th field="CHECK_DATE" width="90">审核日期</th>
                <th field="TASKER" width="90">作业人员</th>
                <th field="TASK_DATE" width="90">作业日期</th>
@*                <th field="BILL_METHOD" width="90" hidden="true">入库方式</th>
                <th field="BILLMETHODNAME" width="90">出库方式</th>
                <th field="SCHEDULE_ITEMNO" width="90">计划单序号</th>*@
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
    <table class="easyui-datagrid" border="false" singleSelect="true" id="SubDetails" url="" pageSize="50"
        fit="true" fitColumns="true"  pagination="true" rownumbers="true" striped="true">
        <thead>
            <tr>
                <th field="BILL_NO" width="100" >单据编号</th>
                <th field="ITEM_NO" width="80" >序号</th>
                <th field="CELL_CODE" width="80">货位号</th>
                <th field="PRODUCT_CODE" width="80">产品代码</th>
                <th field="WEIGHT" width="80">重量</th>
                <th field="REAL_WEIGHT" width="80">实际重量</th>
                <th field="PACKAGE_COUNT" width="80">包数</th>
                <th field="PRODUCT_BARCODE" width="80">产品条码</th>
                <th field="PALLET_CODE" width="60" >托盘RFID</th>
                <th field="IS_MIXDESC" width="60" >是否混装</th>
            </tr>
        </thead>
    </table>
</div>


