<script type="text/javascript">
</script>
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/ProductOriginal/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ORIGINAL_CODE" width="60" >产地代码</th>
                <th field="ORIGINAL_NAME" width="80">产地名称</th>
                <th field="DISTRICT_CODE" width="80">地区编号</th>
                <th field="MEMO" width="120">备注</th>
            </tr>
        </thead>
    </table>
</div>

