<script type="text/javascript">
    function searchClick() {
         $('#SBILL_DATE').datebox({
              hasDownArrow: true
          });
         $('#SOPERATE_DATE').datebox({
              hasDownArrow: true
          });
         $('#SCHECK_DATE').datebox({
              hasDownArrow: true
          });

//          SGetWarehouseCode() ;//仓库编号
//          SGetBillType() ;//单据类型

        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
         $('#SSTATE').combobox('clear');
         $('#SBILL_METHOD').combobox('clear');
    }
//    //仓库编号
//    function SGetWarehouseCode() {
//        $('#SWAREHOUSE_CODE').combogrid({
//            required: false,
//            disabled: false,
//            width: 125,
//            panelWidth: 340,
//            url: '/StockInBill/GetWarehousecode/?page=1&rows=1000',
//            idField: 'WAREHOUSE_CODE',
//            textField: 'WAREHOUSE_NAME',
//            mode: 'local',
////            editable: false,
//            fitColumns: true,
//            columns: [[
//                    { field: 'WAREHOUSE_CODE', title: '仓库编号', align: 'left', width: 40 },
//                    { field: 'WAREHOUSE_NAME', title: '仓库名称', align: 'left', width: 30 },
//                    { field: 'MEMO', title: '备注', align: 'left', width: 30 },
//                ]]
//        });
//    }
//    //单据类型
//    function SGetBillType() {
//        $('#SBTYPE_CODE').combogrid({
//            required: false,
//            disabled: false,
//            width: 125,
//            panelWidth: 340,
//            url: '/BillType/Details/?page=1&rows=1000',
//            idField: 'BTYPE_CODE',
//            textField: 'BTYPE_NAME',
//            mode: 'local',
////            editable: false,
//            fitColumns: true,
//            queryParams: {
//                  BILL_TYPE:'1'
//            },
//            columns: [[
//                    { field: 'BTYPE_CODE', title: '类型代码', align: 'left', width: 40 },
//                    { field: 'BTYPE_NAME', title: '类型名称', align: 'left', width: 30 },
//                    { field: 'TASK_LEVEL', title: '任务等级', align: 'left', width: 30 },
//                    { field: 'TARGET_CODE', title: '目标口', align: 'left', hidden: true, width: 30 },
//                     { field: 'TARGETNAME', title: '目标口', align: 'left',hidden: true,width: 30 }
//                ]]
//        });
//    }
     //查询
    function Sselect() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.BILL_NO = $('#SBILL_NO').val();
        queryParams.BILL_DATE = $('#SBILL_DATE').datebox('getValue');
//        queryParams.BTYPE_CODE=$('#SBTYPE_CODE').combogrid('getValue');
//        queryParams.WAREHOUSE_CODE=$('#SWAREHOUSE_CODE').combogrid('getValue');
        if($('#SBILL_METHOD').combobox('getText')!=null&&$('#SBILL_METHOD').combobox('getText')!=""){
            queryParams.BILL_METHOD=$('#SBILL_METHOD').combobox('getValue'); }
         else
          queryParams.BILL_METHOD="";
        if($('#SSTATE').combobox('getText')!=null&&$('#SSTATE').combobox('getText')!=""){
        queryParams.STATE = $('#SSTATE').combobox('getValue');}
        else
        queryParams.STATE ="";
        queryParams.OPERATER = $('#SOPERATER').val();
        queryParams.OPERATE_DATE = $('#SOPERATE_DATE').datebox('getValue');
        queryParams.CHECKER = $('#SCHECKER').val();
        queryParams.CHECK_DATE = $('#SCHECK_DATE').datebox('getValue');

       $('#details').datagrid('options').queryParams = queryParams;
        $('#SubDetails').datagrid('loadData', { total: 0, rows: [] });
        $('#details').datagrid('reload');
        $('#SSTATE').combobox('clear');
        $('#SSCHEDULE_DATE').datebox('clear');
        $('#SOPERATE_DATE').datebox('clear');
        $('#SCHECK_DATE').datebox('clear');
        $('#dlg-search').dialog('close');
     }
</script>

<div id="dlg-search" class="easyui-dialog" modal="true" style="width:440px;height:210px;padding:2px 2px"
		closed="true" buttons="#dlg-buttons-search">
        <div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
           <table width="400px">
                      <tr>
                        <td style="width:50px" align="right">单据编号</td>
                        <td style="width:138px"><input id="SBILL_NO" style="width:125px"  /></td>
                        <td style="width:50px" align="right">入库日期</td>
                        <td style="width:138px"><input id="SBILL_DATE" style="width:125px" ></td>
                      </tr>
@*                      <tr>
                        <td style="width:50px" align="right">入库类型</td>
                        <td style="width:138px"><input id="SBTYPE_CODE" style="width:125px"  /></td>
                        <td style="width:50px" align="right">仓库编号</td>
                        <td style="width:138px"><input id="SWAREHOUSE_CODE" style="width:125px" ></td>
                      </tr>*@
                      <tr>
                          <td width="50">入库方式</td>
                          <td width="125" >
                               <select  name="SBILL_METHOD" id="SBILL_METHOD"  class="easyui-combobox"  style="width:125px">
                                     <option value="2">抽检</option>
		                             <option value="3">补料</option>
                              </select>
                            </td>
                        <td style="width:50px" align="right">单据状态</td>
                        <td style="width:138px">
                             <select id="SSTATE"  class="easyui-combobox" style="width:125px" >		                
                                     <option value="1">保存</option>
		                            <option value="2">审核</option>
	                         </select>
                        </td>
                      </tr>
                       <tr>
                        <td style="width:50px" align="right">操作人员</td>
                        <td style="width:138px"><input id="SOPERATER" style="width:125px" ></td>
						 <td style="width:50px">操作日期</td>
                        <td style="width:138px"><input id="SOPERATE_DATE" style="width:125px" ></td>
                      </tr>
                      <tr>
                        <td style="width:50px" align="right">审核人员</td>
                        <td  style="width:138px"><input id="SCHECKER" style="width: 125px; "></td>
                        <td style="width:50px" align="right">审核日期</td>
                        <td style="width:138px"><input id="SCHECK_DATE" style="width: 125px; "/></td>
                      </tr>
                    </table>
            </div>
        </div>
</div>

<div id="dlg-buttons-search">
@*	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">查询</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>*@
      <input type="button"  onclick="Sselect()"  onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btok" value="查询"/>
      <input type="button"  onclick="javascript:$('#dlg-search').dialog('close')" onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btcance" value="取消"/>
</div>