<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AuthorizeContext" connectionString="DATA SOURCE=192.168.1.240:1521/orcl;PASSWORD=123456;PERSIST SECURITY INFO=True;POOLING=False;USER ID=THOK"
      providerName="Oracle.DataAccess.Client" />
    <!--<add name="AuthorizeContext" connectionString="DATA SOURCE=oa;PASSWORD=123456;PERSIST SECURITY INFO=True;POOLING=False;USER ID=lmq" providerName="Oracle.DataAccess.Client" />-->
  
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HttpRequestModule" type="THOK.Common.Ef.Infrastructure.HttpRequestModule,THOK.Common.Ef" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,                Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager,                Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,                Microsoft.Practices.Unity" />
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>
          <!-- Default (un-named) mapping for IDocumentService to DocumentService-->
        </types>
      </container>
      <container name="defaultContainer">
        <register type="THOK.Security.IFormsAuthenticationService, Wms" mapTo="THOK.Security.FormsAuthenticationService, Wms" />
        <register type="THOK.Common.Ef.Interfaces.IRepositoryContext,THOK.Common.Ef" mapTo="THOK.Wms.Repository.RepositoryContext.AuthorityRepositoryContext,THOK.Wms.Repository" />
        <register type="THOK.Authority.Bll.Interfaces.IUserService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.UserService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.IModuleService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.ModuleService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.IRoleService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.RoleService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.ISystemService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.SystemService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.ICityService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.CityService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.ISystemEventLogService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.SystemEventLogService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.IServerService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.ServerService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.IFunctionService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.FunctionService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.IHelpContentService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.HelpContentService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Bll.Interfaces.ISystemParameterService, THOK.Authority.Bll" mapTo="THOK.Authority.Bll.Service.SystemParameterService, THOK.Authority.Bll" />
        <register type="THOK.Authority.Dal.Interfaces.IRoleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IUserRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.ICityRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.CityRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.ISystemEventLogRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.SystemEventLogRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IServerRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.ServerRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.ISystemRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.SystemRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IModuleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.ModuleRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IFunctionRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.FunctionRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.ILoginLogRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.LoginLogRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IHelpContentRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.HelpContentRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IUserSystemRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserSystemRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IUserModuleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserModuleRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IUserFunctionRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserFunctionRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IUserRoleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.UserRoleRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IRoleSystemRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleSystemRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IRoleModuleRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleModuleRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.IRoleFunctionRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.RoleFunctionRepository, THOK.Authority.Dal" />
        <register type="THOK.Authority.Dal.Interfaces.ISystemParameterRepository, THOK.Authority.Dal" mapTo="THOK.Authority.Dal.EntityRepository.SystemParameterRepository, THOK.Authority.Dal" />
      </container>
    </containers>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>