
<script type="text/javascript">
    function helpClick() {
        $('#dlg-help').dialog('open').dialog('setTitle', '帮助');
        $.getJSON("/HelpContent/Help/", "helpId=@ViewBag.ModuleID", function (helpContent) {
            $("#ContentText").empty();
            HelpTxt = helpContent.CONTENT_TEXT;
            $(HelpTxt).appendTo("#ContentText");
        });
    }
</Script>
<div id="dlg-help" class="easyui-dialog" m class="easyui-dialog" modal="true" style="width:300px;height:210px;padding:2px 2px"
		closed="true" buttons="#dlg-buttons-help">
        <div id="ContentText">
            
        </div>
</div>
<div id="dlg-buttons-help">
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-help').dialog('close')">取消</a>
</div>