<script type="text/javascript">
    //作业功能
    function taskClick() {
        var row = $('#details').datagrid('getSelected');
        if (row) {
            if (row.STATE == "2") { //已审核状态下
                $('#dlg').dialog('open').dialog('setTitle', '作业');
                loaddetail('/StockInBill/GetSubdetail/?page=1&rows=20000&BillNo=' + row.BILL_NO)
            }
            else {
                $.messager.confirm('提示', '该记录已' + row.STATENAME + '不可重复作业！');
            }
        }
        else {
            $.messager.confirm('错误', '没有选择行！');
        }
    }
    //分解该条单据下的明细,即拆包.
    function loaddetail(url) {
        $('#inBillDetail').datagrid('loadData', { total: 0, rows: [] });
        $('#inBillDetail').datagrid({
            border: false,
            width: 800,
            fit: true,
            fitcolumns: false,
            rownumbers: true,
            pagination: false,
            singleSelect: true,
            url: url,
            columns: [[
                               { field: 'ITEM_NO', width: 60, title: '序号', hidden: true },
                               { field: 'PRODUCT_CODE', width: 130, align: 'center', title: '产品代码' },
                               { field: 'PRODUCT_NAME', width: 100, align: 'center', title: '产品名称' },
            //                               { field: 'WEIGHT', width: 50, title: '重量' },
                               {field: 'REAL_WEIGHT', width: 60, align: 'center', title: '实际重量' },
                               { field: 'PACKAGE_COUNT', width: 50, align: 'center', title: '包数' },
                               { field: 'CELL_CODE', width: 120, align: 'center', title: '货位号',
                                   formatter: function (value, row, index) {
                                       return "<input  id='cell" + index + "'  class='easyui-combogrid' style='height:20px; width:100%;' />";
                                   }
                               },
                               { field: 'PRODUCT_BARCODE', width: 150, align: 'center', title: '产品条码',
                                   formatter: function (value, row, index) {
                                       return "<input id='barcode" + index + "' type='text'  readonly='true'  style='height:20px; width:100%; border:none'/>";
                                   }
                               },
            //                               { field: 'BILL_NO', width: 130, title: '入库批次' },
                               {field: 'PALLET_CODE', width: 150, align: 'center', title: '托盘RFID',
                               formatter: function (value, row, index) {
                                   return "<input id='palletcode" + index + "' type='text'  readonly='true'  style='height:20px; width:100%; border:none'/>";
                               }
                           },
                               { field: 'IN_DATE', width: 130, align: 'center', title: '入库日期',
                                   formatter: function (value, row, index) {
                                       return "<input id='indate" + index + "' type='text'  readonly='true'  style='height:20px; width:100%; border:none'/>";
                                   }
                               },
                               { field: 'operate', width: 130, align: 'center', title: '操作',
                                   formatter: function (value, row, index) {
                                       if (row.PACKAGE_COUNT > 0) {
                                           return "<input type='button'  onclick='Completedata(" + index + ")'  onmouseover='btmouseup(this)' onmouseout='btmouseout(this)'  class='btclearoradd' value='补录'/>";
                                        }
                                       else { 
                                           return "<input type='button'  onclick='Cleardata(" + index + ")'  onmouseover='btmouseup(this)' onmouseout='btmouseout(this)'  class='btclearoradd' value='清空'/>" ;
                                       }
                                   }
                               }
                    ]],
            onLoadSuccess: function (data) {
                for (var i = 0; i < data.total; i++) {
                    loadcell(i, data.rows[i].PRODUCT_CODE);
                }
            }
        });
    }
    //加载对应的带有错误标记的货位号
    function loadcell(index,productcode) {
        var row = $('#details').datagrid('getSelected');
        $('#cell' + index).combogrid({
            required: false,
            disabled: false,
            width: 100,
            panelWidth: 400,
            url: '/StockDifferWork/geterrorcell/?BillNo=' + row.SOURCE_BILLNO + '&productcode=' + productcode,
            idField: 'CELL_CODE',
            textField: 'CELL_CODE',
            mode: 'local',
            editable: true,
            fitColumns: true,
            columns: [[
                    { field: 'CELL_CODE', title: '货位号', align: 'left', width: 60 },
                    { field: 'PRODUCT_BARCODE', title: '条码', align: 'left', width: 120 },
                     { field: 'PALLET_CODE', title: '托盘RFID', align: 'left', width: 100 },
                     { field: 'IN_DATE', title: '入库日期', align: 'left', width: 100 },
                     { field: 'OTHER', title: '错误标记', align: 'left', width: 100 }
                ]],
            filter: function (q, row) {
                var opts = $(this).combogrid('options');
                return row[opts.textField].indexOf(q) == 0;
            },
            onSelect: function (rowIndex, rowData) {
                var billrow = $('#inBillDetail').datagrid('getSelected');
                var billselectindex = $('#inBillDetail').datagrid('getRowIndex', billrow);
                $('#barcode' + billselectindex).val(rowData.PRODUCT_BARCODE);
                $('#palletcode' + billselectindex).val(rowData.PALLET_CODE);
                $('#indate' + billselectindex).val(rowData.IN_DATE);
            }
        });
    }
    //清空数据函数
    function Cleardata(index) {
        var cellcode = $('#cell' + index).combogrid('getText');
        $.messager.confirm('提示', '确定清空货位号为:' + cellcode + '上的产品信息?', function (r) {
            if (r) {  //清空数据
                var billrow = $('#inBillDetail').datagrid('getSelected');
                var row = $('#details').datagrid('getSelected');
                $.getJSON("/StockDifferWork/Clearerrorcell/?Cellcode=" + cellcode + "&BillNo=" + row.SOURCE_BILLNO + "&productcode=" + billrow.PRODUCT_CODE, function (json) {
                    if (json) {
                        if (json.success) {
                            loadcell(index, billrow.PRODUCT_CODE);
                            $('#cell' + index).combogrid('setText', '');
                            $('#barcode' + index).val('');
                            $('#palletcode' + index).val('');
                            $('#indate' + index).val('');
                        }
                        $.messager.show({
                            title: '提示',
                            msg: json.msg
                        });
                    }
                });
            }
        });

    }
    //补录数据函数
    function Completedata(index) { 
    }
</script>

<div id="dlg" class="easyui-dialog" modal="true" resizable="true"
        style="width:900px;height:450px;padding:0px 0px"
        closed="true" buttons="#dlg-buttons">
	<div class="easyui-layout" fit="true">
        <div region="center" border="false">
            <table class="easyui-datagrid" border="false" toolbar="#dlg-detailButtons" width="790" id="inBillDetail"
                fit="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="false" url="" striped="true">
               
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons">
      <input type="button"  onclick=""  onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btok" value="保存"/>
       <input type="button"  onclick="javascript:$('#dlg').dialog('close')" onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btcance" value="取消"/>
</div>
<input  readonly='true'  style="border:0px;" />

