<script type="text/javascript">
</script>
<div region="center" split="true" border="false">
  @if (ViewBag.WebReport != null) { 
      @ViewBag.WebReport.GetHtml() 
  }
  else{
     <div>无数据</div>
  }
</div>

