<script type="text/javascript">
</script>
<div region="center" split="true" border="false">
  @if (ViewBag.WebReport != null) { 
      @ViewBag.WebReport.GetHtml() 
  }
  else{
     <div style=" font-size:20px; text-align:center;  line-height:400px;">当前查询条件无数据可产生报表</div>
  }
</div>

