<script type="text/javascript">
    function editClick() {
        var treeObj = $.fn.zTree.getZTreeObj("warehouseTree");
        var row = treeObj.getSelectedNodes();
        if (row[0]) {
            var divid;
            var editName;
            if (row[0].type == "ware") {
                divid = "ware";
                Load("/Warehouse/FindWarehouse/", row[0].id, divid);
                url = "/Warehouse/Edit/";
                editName = "仓库";
            } else if (row[0].type == "area") {
                divid = "area";
                Load("/Area/FindArea/", row[0].id, divid);
                url = "/Area/Edit/";
                editName = "库区";
            } else if (row[0].type == "shelf") {
                divid = "shelf";
                Load("/Shelf/FindShelf/", row[0].id, divid);
                url = "/Shelf/Edit/";
                editName = "货架";
            } else if (row[0].type == "cell") {
                divid = "cell";
                Load("/Cell/FindCell/", row[0].id, divid);
                url = "/Cell/Edit/";
                editName = "货位";
            }
            fm = divid + "fm";
            $('#' + divid + 'ID').attr("readonly", true);
            AddShowDiv(divid); //显示页面
            addLoad(row[0]); //加载数据
            $('form input').removeAttr("disabled");
            $('#dlg').dialog('open').dialog('setTitle', '编辑：' + editName);
            editKey = true;
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
    };

    function Load(address, id, divid) {
        var laod;
        $('#' + divid).form('clear');
        $.post(address, { parameter: id }, function (json) {
            if (json) {
                laod = eval('(' + json + ')');
                $('#' + divid + 'fm').form('load', laod);
                if (laod.IsActive == '可用') {
                    $('#' + divid + 'IsActive').combo('setValue', 1).combo('setText', laod.IsActive);
                } else {
                    $('#' + divid + 'IsActive').combo('setValue', 0).combo('setText', laod.IsActive);
                }
            }
        });
    }

    function EditShowDiv(divId, laod) {
        $('#' + divId + ' .easyui-validatebox').validatebox({
            required: true
        });
        $('#ware').css({ display: "none" });
        $('#area').css({ display: "none" });
        $('#shelf').css({ display: "none" });
        $('#cell').css({ display: "none" });
        $('#' + divId).css({ display: "block" });
    }
    function AddShowDiv(divId) {
        $('#' + divId + ' .easyui-validatebox').validatebox({
            required: true
        });
        $('#ware').css({ display: "none" });
        $('#area').css({ display: "none" });
        $('#shelf').css({ display: "none" });
        $('#cell').css({ display: "none" });
        $('#' + divId).css({ display: "block" });
    }
    function addLoad(row) {
        var id;

        $('#wareIsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#areaIsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#shelfIsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#CELL_IsActive').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });

        $('#isLayer').combo({
            required: true,
            editable: false,
            panelHeight: 65,
            panelWidth: 140
        });
        $('#isVirtual').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 140
        });
        $('#isCellType').combo({
            required: true,
            editable: false,
            panelHeight: 65,
            panelWidth: 140
        });
//        $('#warehouse-add').combogrid({
//            required: true,
//            disabled: false,
//            width: 140,
//            panelWidth: 340,
//            url: '/Warehouse/Detail/?page=1&rows=50&type=' + row.attributes + '&id=' + row[0].id,
//            idField: 'WarehouseCode',
//            textField: 'WarehouseName',
//            mode: 'local',
//            editable: false,
//            fitColumns: true,
//            columns: [[
//					{ field: 'WarehouseCode', title: '仓库编码', align: 'left', width: 40 },
//					{ field: 'WarehouseName', title: '仓库名称', align: 'left', width: 40 },
//                    { field: 'WarehouseType', title: '仓库类型', align: 'left', width: 20 },
//					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 },
//                    { field: 'UpdateTime', title: '时间', align: 'left', width: 30 }
//				]]
//        });

//        $('#CELL_AREA_ADD').combogrid({
//            required: true,
//            disabled: false,
//            width: 140,
//            panelWidth: 340,
//            url: '/Area/Detail/?type=' + row.type + '&id=' + row.id,
//            idField: 'AREA_CODE',
//            textField: 'AREA_NAME',
//            mode: 'local',
//            editable: false,
//            fitColumns: true,
//            columns: [[
//					{ field: 'AREA_CODE', title: '库区编码', align: 'left', width: 40 },
//					{ field: 'AREA_NAME', title: '库区名称', align: 'left', width: 40 },
//                    { field: 'MEMO', title: '备注', align: 'left', width: 50 }
//				]]
//        });

//        $('#CELL_SHELF_ADD').combogrid({
//            required: true,
//            disabled: false,
//            width: 140,
//            panelWidth: 340,
//            url: '/Shelf/Detail/?type=' + row.type + '&id=' + row.id,
//            idField: 'SHELF_CODE',
//            textField: 'SHELF_NAME',
//            editable: false,
//            fitColumns: true,
//            columns: [[
//					{ field: 'SHELF_CODE', title: '货架编码', align: 'left', width: 40 },
//					{ field: 'SHELF_NAME', title: '货架名称', align: 'left', width: 40 },
//                    { field: 'ROW_COUNT', title: '总层数', align: 'left', width: 20 },
//					{ field: 'COLUMN_COUNT', title: '总列数', align: 'left', width: 20 },
//                    { field: 'MOMO', title: '备注', align: 'left', width: 30 }
//				]]
//        });

        $('#product-add').combogrid({
            disabled: false,
            width: 140,
            panelWidth: 340,
            url: '/Product/Details/?page=1&rows=50',
            idField: 'ProductCode',
            textField: 'ProductName',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ProductCode', title: '卷烟编码', align: 'left', width: 40 },
					{ field: 'ProductName', title: '卷烟名称', align: 'left', width: 40 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 },
                    { field: 'UpdateTime', title: '时间', align: 'left', width: 30 }
				]]
        });
    }
    function save() {
        $('#' + fm).form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var treeObj = $.fn.zTree.getZTreeObj("warehouseTree");
                treeObj.refresh();
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    addKey = false;
                    editKey = false;
                    $('#dlg').dialog('close');
                    
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    addKey = false;
                    editKey = false;
                    
                }
            }
        });
    }
</script>

<div id="dlg" class="easyui-dialog" modal="true" style="width: 300px; height: 360px; padding: 1px 1px" closed="true" buttons="#dlg-buttons">
    <div id="ware" class="easyui-layout" fit="true" style="display: none">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff; border: 1px solid #ccc;">
            <form id="warefm"  method="post">
            <label>
                当前新增页面：仓库</label>
            <table>
                <tr style="height: 10px"></tr>
                <tr style="height:30px;">
                    <td style=" text-align:right">
                        仓库编码:
                    </td>
                    <td>
                        <input  name="WAREHOUSE_CODE"  readonly="readonly"   id="wareID" style="width: 140px;" />
                    </td>
                </tr>
                <tr style="height:30px;">
                     <td style=" text-align:right">
                        仓库名称:
                    </td>
                    <td>
                        <input name="WAREHOUSE_NAME" type="text"  class="easyui-validatebox" style="width: 175px;" />
                    </td>
                </tr>
                
                <tr style="height:30px;">
                     <td style=" text-align:right">
                        备注:
                    </td>
                    <td  style=" overflow:hidden">
                        <textarea  name="MEMO" cols="10" rows="10"   style="width: 175px; height: 100px; white-space:pre-line;"></textarea>
                    </td>
                </tr>               
            </table>
            </form>
        </div>
    </div>
    <div id="area" class="easyui-layout" fit="true" style="display: none">
       <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="areafm"  method="post">
            <label>
                当前新增页面：库区</label>
            <table >
                <tr style="height: 10px"></tr>
                <tr style="height: 20px">
                    <td width="70" style=" text-align:right">
                        库区编码:                    </td>
                    <td width="189" align="left">
                        <input name="AREA_CODE"  id="areaID" readonly="readonly"  style="width: 100px;"/>
                  </td>
                </tr>
                <tr style="height: 20px">
                     <td style=" text-align:right">
                        库区名称:
                    </td>
                    <td align="left">
                        <input name="AREA_NAME" type="text" class="easyui-validatebox" style="width: 175px;"/>
                    </td>
              </tr>
                <tr>
                    <td style=" text-align:right">
                        仓库:
                    </td>
                    <td align="left">
                        <input name="WAREHOUSE_NAME" readonly="true" id="AREA_WAREHOUSE_NAME" style="width: 175px;"/>
                        <input name="WAREHOUSE_CODE" type="hidden" id="AREA_WAREHOUSE_CODE" style="width: 175px;"/>
                    </td>
                    
                </tr>
               
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        备注:
                  </td>
                    <td style="text-align: left">
                        <textarea name="MEMO" style="width: 175px; height: 100px; "></textarea>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
    <div id="shelf" class="easyui-layout" fit="true" style="display: none">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="shelffm"  method="post">
            <label>
                当前新增页面：货架</label>
            <table >
                <tr style="height: 10px"></tr>
                <tr style="height: 20px">
                    <td width="70" style=" text-align:right">
                        货架编码:                    </td>
                    <td width="189" align="left">
                        <input name="SHELF_CODE" type="text" id="shelfID" readonly="readonly"  style="width: 100px;"/>
                  </td>
                </tr>
                <tr style="height: 20px">
                     <td style=" text-align:right">
                        货位名称:
                    </td>
                    <td align="left">
                        <input name="SHELF_NAME" type="text" class="easyui-validatebox" style="width: 175px;"/>
                    </td>
              </tr>
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        层数:
                  </td>
                    <td align="left">
                        <input name="ROW_COUNT" type="text" required="true" id="ROW_COUNT" class="easyui-numberbox" missingmessage="请输入最大值（必须为数字）"style="width: 175px;"/>
                    </td>
                </tr>
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        列数:                    </td>
                    <td align="left">
                        <input name="COLUMN_COUNT" type="text" required="true" id="COLUMN_COUNT" class="easyui-numberbox" missingmessage="请输入最大值（必须为数字）"style="width: 175px;"/>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        仓库:
                    </td>
                    <td align="left">
                        <input name="WAREHOUSE_NAME" readonly="true" id="SHELF_WAREHOUSE_NAME" style="width: 175px;"/>
                        <input name="WAREHOUSE_CODE" type="hidden" id="SHELF_WAREHOUSE_CODE" style="width: 175px;"/>
                    </td>
                    
                </tr>
                 <tr>
                    <td style=" text-align:right">
                        库区:
                    </td>
                     <td align="left">
                       <input name="AREA_NAME" type="text" readonly="true"  id="SHELF_AREA_ID" style="width: 175px;"/>
                       <input name="AREA_CODE" type="hidden"  id="SHELF_AREA_ADD" style="width: 175px;"/>
                    </td>
                </tr>
                 <tr>
                    <td style=" text-align:right">
                        堆垛机:
                    </td>
                     <td align="left">
                       <input name="CRANENAME" type="text" readonly="true"  id="SHELF_CRANENAME" style="width: 175px;"/>
                       <input name="CRANE_NO" type="hidden"  id="SHELF_CRANE_NO" style="width: 175px;"/>
                    </td>
                </tr>
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        备注:
                  </td>
                    <td style="text-align: left">
                        <textarea name="MEMO" style="width: 175px; height: 50px"></textarea>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
    <div id="cell" class="easyui-layout" fit="true" style="display: none">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="cellfm"  method="post">
            <label>
                当前新增页面：货位</label>
             
            <table >
              <tr style="height: 10px"></tr>
                <tr style="height: 20px">
                    <td width="70" style=" text-align:right">
                        货位编码:                    </td>
                    <td width="189" align="left">
                        <input name="CELL_CODE" type="text" id="cellID"  readonly="readonly"  style="width: 100px;"/>
                  </td>
                </tr>
                <tr style="height: 20px">
                     <td style=" text-align:right">
                        货位名称:
                    </td>
                    <td align="left">
                        <input name="CELL_NAME" type="text" class="easyui-validatebox" style="width: 175px;"/>
                    </td>
              </tr>
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        所在列:
                  </td>
                    <td align="left">
                        <input name="CELL_COLUMN" type="text" required="true" id="CELL_COLUMN" class="easyui-numberbox" readonly="readonly" missingmessage="请输入最大值（必须为数字）"style="width: 175px;"/>
                    </td>
                </tr>
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        所在层:                    </td>
                    <td align="left">
                        <input name="CELL_ROW" type="text" required="true" id="CELL_ROW" readonly="readonly" class="easyui-numberbox" missingmessage="请输入最大值（必须为数字）"style="width: 175px;"/>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right">
                        库区:
                    </td>
                     <td align="left">
                       <input name="AREA_NAME" type="text" readonly="true"  id="CELL_AREA_ID" style="width: 175px;"/>
                       <input name="AREA_CODE" type="hidden"  id="CELL_AREA_ADD" style="width: 175px;"/>
                    </td>
                </tr>
                 <tr>
                    <td style=" text-align:right">
                        货架:
                    </td>
                    <td align="left">
                        <input name="SHELF_NAME" readonly="true" id="CELL_SHELF_NAME" style="width: 175px;"/>
                        <input name="SHELF_CODE" type="hidden" id="CELL_SHELF_ADD" style="width: 175px;"/>
                    </td>
                </tr>
                <tr style="height: 20px">
                <td style=" text-align:right">
                        状态:
                  </td>
                     <td align="left" style="text-align: left" colspan="3">
                        <select name="IS_ACTIVE" id="cellIsActive" class="easyui-combobox" required="true" style="width: 140px">
                            <option selected="selected" value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
                <tr style="height: 20px">
                   <td style=" text-align:right">
                        备注:
                  </td>
                    <td style="text-align: left">
                        <textarea name="MEMO" style="width: 175px; height: 50px"></textarea>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<div id="dlg-buttons">
@*    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">
        取消</a>*@
      <input type="button"  onclick="save()"  onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btok" value="确定"/>
       <input type="button"  onclick="javascript:$('#dlg').dialog('close')" onmouseover="btmouseup(this)" onmouseout="btmouseout(this)"  class="btcance" value="取消"/>
</div>
   