<script type="text/javascript">
  
</script>
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/WorkSearch/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="false" toolbar="#tool"  pagination="true" rownumbers="true" striped="true"  >
        <thead>
            <tr>
                <th field="BILL_NO" width="100" >单据编号</th>
                <th field="BTYPE_NAME" width="80">单据类型</th>
                <th field="TASKER" width="90">作业人员</th>
                <th field="TASK_DATE" width="90">作业日期</th>
                <th field="BILL_METHOD" width="90" hidden="true">入库方式</th>
                <th field="BILLMETHOD" width="90">入库方式</th>
                <th field="CIGARETTE_CODE" width="90" hidden="true">牌号代码</th>
                <th field="CIGARETTE_NAME" width="90" >牌号</th>
                <th field="FORMULA_CODE" width="90"  hidden="true">配方代号</th>
                <th field="FORMULA_NAME" width="90"  >配方名称</th>
                <th field="BATCH_WEIGHT" width="90">批次重量</th>
                <th field="PRODUCT_CODE" width="90">产品编号</th>
                <th field="Task_Id" width="90">序号</th>
                <th field="PRODUCT_NAME"  width="90">产品名称</th>
                <th field="PRODUCT_BARCODE" width="90">产品条码</th>
                <th field="CELL_CODE" width="90">货位编号</th>
                <th field="GRADE_NAME" width="90">产品等级</th>
                <th field="ORIGINAL_NAME" width="90">原产地</th>
                <th field="YEARS" width="90">产品年份</th>
                <th field="STYLE_NAME" width="90">产品形态</th>
                <th field="CATEGORY_NAME" width="90">产品类别</th>
                <th field="STATENAME" width="90">作业状态</th>
                <th field="IN_DATE" width="90">入库时间</th>
            </tr>
        </thead>
    </table>
</div>

